# 1. 다른 프로젝트 폴더들은 전부 깃허브에 안 올리게 제외
/bookmarket/
/demo/
/test/
/jspbook/

# 2. aptweb 폴더 내부에서 자동으로 생성되는 빌드/설정 파일 제외
/aptweb/target/
/aptweb/bin/
/aptweb/.settings/
/aptweb/.classpath
/aptweb/.project
*.class